
= render partial: 'reservation', locals:{reservation: reservation}

- if reservation.sibling.present?
  %h3 RETURN

  = render partial: 'reservation', locals: {reservation: reservation.sibling.decorate}

- if reservation.active?
  = link_to 'Edit', edit_admin_reservation_path(reservation)
  \|
= link_to 'Back', admin_reservations_path
