
= render partial: 'reservation', locals:{reservation: reservation}

- if reservation.sibling.present?
  %h3 RETURN

  = render partial: 'reservation', locals: {reservation: reservation.sibling.decorate}

= link_to 'Back', admin_reservations_path
