%table.std
  %thead
    %tr
      %th Vehicle type
      %th How Many in Fleet
      %th Total Passenger Capacity
  %tbody
    %tr
      %td= f.text_field :name
      %td= f.text_field :how_many
      %td= f.text_field :num_of_passengers
