%h2
  RESERVATION REMINDER

%p
  Please log into your account to view upcoming rides booked on
  = link_to 'https://shuttlefare.com', 'Shuttlefare.com'
%p
  = link_to 'Click here', new_user_session_url
%p
  Email
  = mail_to 'gbessoni@shuttlefare.com', 'gbessoni@shuttlefare.com'
  if you have any questions.
