%h1.page-header Rates import

- if @import.new?
  = render partial: 'admin/import/rates/form', locals: {import: @import}
- else
  .rate-forms.row
    .col-xs-12
      - @import.invalid_objects.each_with_index do |rate, i|
        = render partial: 'admin/rates/form', locals: {rate: rate, idx: i}

  .row
    .col-xs-12
      = btn_to 'Back', admin_import_rates_url
