@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker.min";

//= require bootstrap-datetimepicker.min

body {
  padding-top: 50px;
}

/* table */
.std {
  @extend .table;
  @extend .table-striped;
  @extend .table-hover;
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* forms */

.simple_form {
  @extend .form-horizontal;
  @extend .well;
  @extend .col-lg-8;
  display: block;
}

.search {
  @extend .col-xs-6;
  font-size: 10px;
  padding: 15px 15px 0 0;
}

.form-group {
  textarea.text {
    height: 70px !important;
  }
}

.page-header {
  margin-top: 10px !important;
  .btn {
    float: right;
  }
}
